<footer class="mastfoot pb-5 bg-white section-padding pt-4">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="inner container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="footer-widget pr-lg-5 pr-0">
                    <img src="img/d.png" class="img-fluid footer-logo mb-3" alt="">
                    <p>Hungry for good food AND great conversation? Foodblog boasts a veritable smorgasbord of lots of recipes and a community-inspired activity feed that allows users to share reviews, tweaks, questions and photos of their favorite recipes.
                        Grab a plate and join the fun!</p>
                    <nav class="nav nav-mastfoot justify-content-start">
                        <a class="nav-link" href="https://www.facebook.com/profile.php?id=100014043016988">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="nav-link" href="https://www.linkedin.com/in/tuan-pham-7b3038209/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="nav-link" href="https://www.instagram.com/tuan77275/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </nav>
                </div>

            </div>


            <div class="col-lg-4">
                <div class="footer-widget pl-lg-5 pl-0">
                    <h4>Newsletter</h4>
                    <p>Subscribe to get news every time new recipe submitted</p>
                    <form id="newsletter">
                        <div class="form-group">
                            <input type="email" class="form-control" id="emailNewsletter" aria-describedby="emailNewsletter" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>

            </div>
            <div class="col-md-12 d-flex align-items-center">
                <p class="mx-auto text-center mb-0">Copyright 2019. All Right Reserved. Re-Design by <a href="https://www.facebook.com/profile.php?id=100014043016988" target="_blank">Tuan</a>, origin by GetTheme</p>
            </div>

        </div>
    </div>
</footer>