<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="/admin" class="brand-link">
        <img src="https://res.cloudinary.com/dw6uxdli0/image/upload/v1639403462/d_axrzup.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="<%=avatar%>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/user/<%=id%>" class="d-block">
                    <%=username%>
                </a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/recipes" class="nav-link">
                        <i class="nav-icon fas fa-align-justify"></i>
                        <p>
                            Recipes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/chat" class="nav-link">
                        <i class="nav-icon fas fa-comments"></i>
                        <p>
                            Chats
                        </p>
                    </a>
                </li>
                <li class="nav-header">
                    <hr>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <p class="text-red">
                            Log Out
                        </p>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</aside>